src/flow
[{"id":"94ae7c42.01f3f","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"4268065b.cba388","type":"http in","z":"94ae7c42.01f3f","name":"","url":"/api/employees","method":"get","upload":false,"swaggerDoc":"","x":100,"y":110,"wires":[["5f815f13.2f1b9"]]},{"id":"5f815f13.2f1b9","type":"function","z":"94ae7c42.01f3f","name":"getData","func":"msg.topic='SELECT * FROM emp'\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":110,"wires":[["c8083058.daf7d","bbd89d4c.a7bd2"]]},{"id":"bbd89d4c.a7bd2","type":"debug","z":"94ae7c42.01f3f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":110,"wires":[]},{"id":"c8083058.daf7d","type":"mysql","z":"94ae7c42.01f3f","mydb":"7e44a26b.b6a12c","name":"","x":530,"y":180,"wires":[["b1656b85.ba9928"]]},{"id":"b1656b85.ba9928","type":"http response","z":"94ae7c42.01f3f","name":"","statusCode":"","headers":{},"x":730,"y":200,"wires":[]},{"id":"d49d5677.478ce8","type":"http in","z":"94ae7c42.01f3f","name":"","url":"api/employee","method":"post","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["719d4cfe.da2fe4"]]},{"id":"719d4cfe.da2fe4","type":"function","z":"94ae7c42.01f3f","name":"postData","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nmsg.topic='INSERT INTO emp (fullname,lastname,mobile,position)VALUES(?,?,?,?);'\nmsg.payload=[msg.payload.fullname,msg.payload.lastname,msg.payload.mobile,msg.payload.position];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["bbd89d4c.a7bd2","c8083058.daf7d"]]},{"id":"7e44a26b.b6a12c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ang_emp","tz":""}]
