src/flow
[{"id":"f1d0408e.ef8ce","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"472e3079.b0c82","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"/api/employees","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["902b6e01.7832e"]]},{"id":"902b6e01.7832e","type":"function","z":"f1d0408e.ef8ce","name":"getData","func":"msg.topic='SELECT * FROM emp'\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["3b42950.4a28e6c","3439fbc7.456234"]]},{"id":"3439fbc7.456234","type":"debug","z":"f1d0408e.ef8ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":140,"wires":[]},{"id":"3b42950.4a28e6c","type":"mysql","z":"f1d0408e.ef8ce","mydb":"d7813915.33b098","name":"","x":1020,"y":280,"wires":[["a9f9bf3d.3ef32"]]},{"id":"a9f9bf3d.3ef32","type":"http response","z":"f1d0408e.ef8ce","name":"","statusCode":"","headers":{},"x":1330,"y":280,"wires":[]},{"id":"7e8073aa.1ce12c","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee","method":"post","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["e45b2266.60af8"]]},{"id":"e45b2266.60af8","type":"function","z":"f1d0408e.ef8ce","name":"postData","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST\";\nmsg.topic='INSERT INTO emp (fullname,lastname,mobile,position)VALUES(?,?,?,?);'\nmsg.payload=[msg.payload.fullname,msg.payload.lastname,msg.payload.mobile,msg.payload.position];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"3906dd43.767d82","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee/:id","method":"delete","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["9864816f.cbc49"]]},{"id":"9864816f.cbc49","type":"function","z":"f1d0408e.ef8ce","name":"delete data","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"908cf3d6.6e772","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee","method":"put","upload":false,"swaggerDoc":"","x":90,"y":260,"wires":[["37956401.93d8ac"]]},{"id":"37956401.93d8ac","type":"function","z":"f1d0408e.ef8ce","name":"update data","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"PUT\";\nmsg.topic='UPDATE emp SET empcode=?, fullname=?, lastname=?, POSITION=?, mobile=? WHERE id=?';\nmsg.payload=[msg.payload.empcode,msg.payload.fullname,msg.payload.lastname,msg.payload.position,msg.payload.mobile,msg.payload.id]\nconsole.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"d7813915.33b098","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ang_emp","tz":""}]
