src/flow
[{"id":"f1d0408e.ef8ce","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"472e3079.b0c82","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"/api/employees","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["902b6e01.7832e"]]},{"id":"902b6e01.7832e","type":"function","z":"f1d0408e.ef8ce","name":"getData","func":"msg.topic='SELECT * FROM emp'\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["3b42950.4a28e6c","3439fbc7.456234"]]},{"id":"3439fbc7.456234","type":"debug","z":"f1d0408e.ef8ce","name":"debug_api_ang_curd","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1190,"y":180,"wires":[]},{"id":"3b42950.4a28e6c","type":"mysql","z":"f1d0408e.ef8ce","mydb":"d7813915.33b098","name":"","x":1160,"y":460,"wires":[["a9f9bf3d.3ef32"]]},{"id":"a9f9bf3d.3ef32","type":"http response","z":"f1d0408e.ef8ce","name":"","statusCode":"","headers":{},"x":1370,"y":460,"wires":[]},{"id":"7e8073aa.1ce12c","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee","method":"post","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["e45b2266.60af8"]]},{"id":"e45b2266.60af8","type":"function","z":"f1d0408e.ef8ce","name":"postData","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST\";\nmsg.topic=\"select count(*) from emp\";\nconsole.log(msg)\nmsg.topic='INSERT INTO emp (fullname,lastname,mobile,position)VALUES(?,?,?,?);'\nmsg.payload=[msg.payload.fullname,msg.payload.lastname,msg.payload.mobile,msg.payload.position];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"3906dd43.767d82","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee/:id","method":"delete","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["9864816f.cbc49"]]},{"id":"9864816f.cbc49","type":"function","z":"f1d0408e.ef8ce","name":"delete data","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"908cf3d6.6e772","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/employee","method":"put","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["37956401.93d8ac"]]},{"id":"37956401.93d8ac","type":"function","z":"f1d0408e.ef8ce","name":"update data","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"PUT\";\nmsg.topic='UPDATE emp SET empcode=?, fullname=?, lastname=?, POSITION=?, mobile=? WHERE id=?';\nmsg.payload=[msg.payload.empcode,msg.payload.fullname,msg.payload.lastname,msg.payload.position,msg.payload.mobile,msg.payload.id]\nconsole.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"b69ae576.e2ae18","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/departments","method":"get","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["d71e137d.b12b5"]]},{"id":"d71e137d.b12b5","type":"function","z":"f1d0408e.ef8ce","name":"get_departments","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"c6cf7cd9.77dad","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/department","method":"post","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["5f4681d7.a2551"]]},{"id":"5f4681d7.a2551","type":"function","z":"f1d0408e.ef8ce","name":"post_department","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"19387c8e.537893","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/department","method":"put","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["6ea2655f.5e439c"]]},{"id":"6ea2655f.5e439c","type":"function","z":"f1d0408e.ef8ce","name":"update_department","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"75404dbc.fc1104","type":"http in","z":"f1d0408e.ef8ce","name":"","url":"api/department/:id","method":"delete","upload":false,"swaggerDoc":"","x":110,"y":460,"wires":[["c227c28e.8a56c"]]},{"id":"c227c28e.8a56c","type":"function","z":"f1d0408e.ef8ce","name":"update_department","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= 'DELETE';\nmsg.topic='DELETE FROM emp WHERE id=?;'\nmsg.payload=[msg.req.params.id]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["3439fbc7.456234","3b42950.4a28e6c"]]},{"id":"d7813915.33b098","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ang_emp","tz":""}]